$primary-color: #0D0A19;
$secondary-color: #04091B;
$btn-color: #DF2020;
$heading-color: #0D0A19;
$paragraph-color: #BEBFC2;
$nav-color: #ECECED;

/* Fonts part start */ 
$Inter-font: 'Inter', sans-serif;

/* Fonts part end*/ 