/* CSS variables start */
:root{
    --White_color: #FFFFFF;
    --Blue_color: #562EFF;
    --All_heading_black_color: #3A3A3A;
    --All_paragraph_black_color: #6C6C6C;
    --Gray_color: #5E6366;
    --Light_Gray_color: #787885;
    --Red_color: #E02C6D;
    --Orange_color: orange;
    --Inter_font: 'Inter', sans-serif;
    --Poppins_font: 'Poppins', sans-serif;
    --Ubunto_font: 'Ubuntu', sans-serif;
    --Roboto_font: 'Roboto', sans-serif;
    --Manrope_font: 'Manrope', sans-serif;
}
/* CSS variables end */

/* Common CSS start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Poppins font end */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* Ubuntu font end */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Roboto font end */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}
/* Common CSS end */